### 파이썬의 기본문법

### 주석과 출력
- 주석 : 코드를 실행하고 싶지 않을 때, 코드에 대한 설명할 때 사용
- 출력 : 변수의 값이나 내용을 출력해주는 방법

In [1]:
print(1234)

1234

In [2]:
print("python")

python

In [7]:
# print를 이용한 출력
print(1234)
# print("python")

1234

In [ ]:
# 주석 단축키(ctrl(cmd) + /)
# print(1)
# print(2)

### 변수 선언
- RAM(메모리)의 저장공간을 사용하기 위한 방법

In [8]:
a = 1

In [9]:
print(a)

1

In [11]:
b = "pyhton"
print(b)

pyhton

1 + 2

In [13]:
a = 2
b = 3
c = a + b
print(c)

5

In [16]:
# 다중할당 1
a, b, c = 2, 3, 4
print(a, b, c)

2 3 4

In [17]:
# 다중할당 2
a = 2
b = 2
c = 2
print(a, b, c)

2 2 2

In [23]:
# 다중할당 2를 한 줄로
# a, b, c = 2, 2, 2로 써줄 수도 있지만, 다른 변수에 같은 값을 할당할 경우
a = b = c = 2
print(a, b, c)

2 2 2

In [21]:
# 변수 값의 수정
b = 3
print(a, b, c)

2 3 2

### QUIZ
- 아래의 결과 출력되도록 data1, data2, data3 세개의 이름을 가진 변수를 선언하고, print 함수를 이용해서 출력해주세요.
```
fast campus python
```

In [1]:
data1 = "fast"
data2 = "campus"
data3 = "python"
print(data1, data2, data3)

fast campus python

### QUIZ2
- 각 단어별로 변수를 선언해서 아래와 같이 출력되도록 코드를 작성해 주세요.
```
fast campus fast pyton
```

In [2]:
print(data1, data2, data1, data3)

fast campus fast python

In [3]:
data1, data2, data3 = "fast", "campus", "pyton"
print(data1, data2, data3)

fast campus pyton

### QUIZ3
- 국어 90점, 영어 75점, 수학 87점을 변수로 선언하고, 세 과목의 총점을 total이라는 변수에 저장하고 toal 값을 출력하는 코드를 작성하세요.

In [4]:
국어, 영어, 수학 = 90, 75, 87
total = 국어 + 영어 + 수학
print(total)

252

In [8]:
korean, english, math = 90, 75, 87
total = korean + english + math
print("총점", total)

총점 252

### QUIZ4
- 1월 수입 400, 2월 수입 370, 3월 수입 200을 변수로 선언, 총 수입을 출력하는 코드를 작성하세요

In [12]:
jan, feb, mar = 400, 370, 200
total_income = jan + feb + mar
print("총 수입", total_income)

총 수입 970

### 식별자
- a~z, A~Z, 0~9, _
- 숫자 가장 앞에 올 수 없음
- 예약어는 사용이 불가능 (print, class, def)

In [1]:
print(1)
# print(2)
print(3)

1
3

In [2]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [6]:
print(1, 2)
print(1, 2, sep="-", end="\t")

1 2
1-2

In [9]:
python_data_science = 1

In [10]:
python_data_science = 2
print(python_data_science)

2

In [15]:
a = 1
b = 2
c = a + b
print(c)

3

In [18]:
d, e = 1, 4
f = g =5
print(d)
print(e)

1
4

In [22]:
a = 1
b = "python"
type(a), type(b)

(int, str)

In [25]:
a = 1
b = 1.2
c = True # False
d = "data"
type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [26]:
e = d.upper()
print(e)

DATA

In [27]:
f = d.lower()
print(f)

data

In [31]:
f = "fast campus"
f1 = f.replace("fast", "slow")
print(f1)

slow campus

In [32]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [33]:
g = "abcdefg"

In [40]:
g[2], g[-2], g[2:5], g[3:], g[-2:], g[::3], g[::-1]

('c', 'f', 'cde', 'defg', 'fg', 'adg', 'gfedcba')

In [41]:
numbers = "123456789"

In [49]:
result = numbers[::2]
result[::-1]
numbers[::-1][::2]

'97531'

In [52]:
#list
ls = [1, 2, 3, "four", [5, 6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [56]:
ls[3], ls[1:3], ls[::-1]

('four', [2, 3], [1.2, True, [5, 6], 'four', 3, 2, 1])

In [58]:
ls = [1, 5, 2, 4]
# append: 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [61]:
ls.sort()
ls
print(ls[::-1])

[5, 4, 3, 2, 1]

In [98]:
num = ls.pop()
num, ls

(5, [])

In [100]:
ls1 = [1, 2, 3]
ls2 = ls1 # 주소값 복사가 일어나는 것. ls2는 ls1을 참조, 똑같은 공간의 값을 참조하고 있기 때문에 하나가 바뀌면 다 바뀐다.
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [101]:
ls1[2] = 5

In [102]:
ls1, ls2

([1, 2, 5], [1, 2, 5])

In [105]:
ls3 = ls1.copy()
ls1[2] = 10
ls1, ls3

([1, 2, 10], [1, 2, 5])

In [107]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [108]:
a, b = 1, 2 # 얘도 튜플이다
a, b

(1, 2)

In [109]:
# 오프셋 인덱스 사용 가능
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [110]:
# 리스트와 튜플의 저장공간 차이 비교
import sys # 다른 사람이 짜놓은 코드 가지고 오는 것

ls = [1, 2, 3]
tp = (1, 2, 3)
print(sys.getsizeof(ls), sys.getsizeof(tp))

88 72

In [113]:
#선언 : 키는 정수, 문자열 데이터 타입만 사용이 가능

dic = {
    1: "one",
    "two": 2,
    "three": [1, 2, 3],
    
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [115]:
dic[1], dic["three"], dic["two"]

('one', [1, 2, 3], 2)

In [116]:
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [118]:
#아래의 데이터를 list와 dict로 선언
# 도시: seoul, busan, daegu
# 인구: 9,700,000, 3,400,000, 2,400,000

In [131]:
#리스트
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]
type(city), seoul, busan, daegu

In [141]:
#딕셔너리
dict = {
    "seoul": 9700000,
    "busan": 3400000,
    "daegu": 2400000,    
}

In [133]:
sum(population)

15500000

In [143]:
sum(dict.values())

15500000

In [145]:
### 형변환
###- 데이터 타입을 변환하는 방법

In [146]:
a = 1 
b = "2"
a + int(b)

3

In [147]:
str(a) + b

'12'

In [149]:
list(dict.values())

[9700000, 3400000, 2400000]

In [150]:
city, population

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [157]:
## zip :  같은 인덱스 데이터끼리 묵어주는 함수
list(zip(city, population))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]