### 자료형
- 변수를 선언할 때 메모리에 저장공간이 만들어지는데, 저장공간에 저장하는 데이터의 자료 타입을 설정

In [2]:
a = 1
b = "python"
print(a, b)

1 python

In [3]:
type(a)

int

In [4]:
type(b)

str

In [6]:
print(type(a), type(b))

<class 'int'> <class 'str'>

In [9]:
# 정수
a, b, c = 1, -5, 0
print(type(a), a)
print(type(b), b)
print(type(c), c)

<class 'int'> 1
<class 'int'> -5
<class 'int'> 0

In [11]:
# 실수
a, b, c = 1.3, -5.2, 0
print(type(a), a)
print(type(b), b)
print(type(c), c)

<class 'float'> 1.3
<class 'float'> -5.2
<class 'int'> 0

In [13]:
# Bollean
a, b = True, False
print(type(a), a)
print(type(b), b)

<class 'bool'> True
<class 'bool'> False

In [14]:
# 문자열
c = "data \"scinece\" 'fast' campus "
print(c)

data "scinece" 'fast' campus

In [16]:
a = "python" * 5
print(a)

pythonpythonpythonpythonpython

In [19]:
# Quiz1
data = "hello python "
print(data * 3)

hello python hello python hello python

In [23]:
# QUIZ2
data1, data2 = "hello ", "python "
print(data1 * 3 + data2 * 3)

hello hello hello python python python

In [25]:
# 문자열 길이 확인
a = "abcedafasd"
print(len(a))

10

In [28]:
# 오프셋
a = "abcde" # a:0, b:1, c:2
print(a[2])
print(a[0:5])

c
abcde

In [29]:
print(a[::2])

ace

In [2]:
a = "abcde"
print(a[1::2])

bd

In [3]:
print(a, a[3:], a[-2:])

abcde de de

In [4]:
print(a[::-1])

edcba

### QUIZ3
- 문자열 오프셋을 활용하여 문자열의 단어를 거꾸로 출력되도록 코드 작성

In [16]:
data = "hello world"
data1 = data[:5]
data2 = data[6:]
result = data2 + " " + data1
print(result)

world hello

### QUIZ4
- 0~9까지 문자열 데이터를 짝수만 거꾸로 출력하는 코드 작성

In [22]:
data = "0123456789"
result = data[::2]
print(result[::-1])

86420

In [23]:
result = data[::2][::-1]
print(result)

86420

### 문자열 함수

In [26]:
a = "abcde"
print(a.upper())

ABCDE

In [27]:
a = a.upper()
print(a)

ABCDE

### 대문자를 소문자로 변환하는 함수

In [29]:
a = a.lower()
print(a)

abcde

In [30]:
a = "python data science"
a = a.replace("python", "fastcampus")
print(a)

fastcampus data science

In [31]:
a = "     data science    "

In [32]:
a = a.strip()
print(a)

data science

In [34]:
a = "fast campus data science"
print(a.find("campus"))

5

### Quiz5

In [43]:
string_1 = "hello "
string_2 = "python "
data = string_1 + string_2.strip() + "!"
data2 = string_1 + string_2[:-1] + "!"
print(data2)

hello python!

### QUIZ6

In [50]:
data = "i like python"
data1 = data.replace("i", "I") + "."
print(data1)

I lIke python.