In [1]:
# 삼항연산
data = 2
result = "male" if data == 1 else "female"
result

'female'

In [3]:
data = 2
result = "even" if data % 2 == 0 else "odd"
result

'even'

In [8]:
# 반복문 while
ls = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total = 0
datas = ls.copy()
while datas:
    total += datas.pop()
total, total / len(ls)

(55, 5.5)

In [9]:
result = 0
idx = len(ls)
while idx:
    idx -= 1
    result += ls[idx]
result

55

In [10]:
sum(ls)

55

In [17]:
count, result = 0, []
while True:
    count += 1
    data = input("{}번째 입력(종료: q):".format(count))
    if data == "q":
        break
    result.append(data)
print(result)

1번째 입력(종료: q):2
2번째 입력(종료: q):31
3번째 입력(종료: q):12
4번째 입력(종료: q):q
['2', '31', '12']

In [18]:
ls = [0, 1, 2, 3, 4]
for value in ls:
    print(value, end = " ")

0 1 2 3 4

In [21]:
dic = {"A":1, "B":2}
for key, value in dic.items():
    print(key, value)

A 1
B 2

In [22]:
numbers = [1, 3, 5, 8, 10, 14]
result = 0
for data in numbers:
    result += data
result

41

In [31]:
points_dict = {"korean": 80, "english": 90, "math": 100}
#result = sum(points_dict.values())
result = points_dict.items()
for key, value in result:
    print(key, value, "\n")

korean 80

english 90

math 100

In [36]:
datas = [1, 2, 3]
total = 0
while datas:
    total += datas.pop()
    print(total)

3
5
6

In [71]:
import random
random.randint(1,10)

3

In [73]:
result = 0
for data in range(0, 11, 2):
    print(data)
    result += data
result

0
2
4
6
8
10

30

In [76]:
points_dict = {"korean": 80, "english": 90, "math": 100}
result = list(points_dict.keys())
result2 = list(points_dict.values())
print(result, result2)

['korean', 'english', 'math'] [80, 90, 100]

In [78]:
subjects_ls = ["korean", "english", "math"]
points_ls = [80, 90, 100]
list(zip(subjects_ls, points_ls))

[('korean', 80), ('english', 90), ('math', 100)]

In [88]:
for data1 in range(1, 10):
    for data2 in range(1, 10):
        print("{} * {} = {}".format(data1, data2, data1 * data2), end = "\t")

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9	2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [93]:
ls = [0, 1, 2, 3]
result = []
for data in ls:
    result.append(data**2)
result

[0, 1, 4, 9]

In [95]:
#리스트 컴프리헨션
ls = [0, 1, 2, 3]
result = [data**2 for data in ls]
result

[0, 1, 4, 9]

In [108]:
#함수
def plus(num1, num2):
    return (num1 + num2)
result = plus(1, 3) + 8
result

12

In [113]:
def func(num1, num2=10, num3=20):
    return sum(num1) + num2 + num3
ls = [1, 2, 3]
func(*ls)

TypeError: 'int' object is not iterable

In [133]:
def func(num1, num2=10, num3=20):
    return sum(num1) + num2 + num3
data1 = [1, 2, 3]
func(*data1)

TypeError: 'int' object is not iterable

In [130]:
def func(num1, num2=10, num3=20):
    return num1 + num2 + num3
data = {
    "num2": 100,
    "num3": 200,
}
func(1, **data)

301